.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17px 0;
    gap: 171px;
}

.navbar___right {
    display: flex;
    gap: 64px;
}

.nav-links {
    display: flex;
    gap: 19px;
}

.hamburger-menu {
    display: none;
}

.language_uzb {
    width: 37px;
    height: 25px;
}

.language {
    display: flex;
    gap: 10px;
}

.language>button {
    border: none;
}

.nav-links>li>a {
    border-radius: 22px;
    background-color: #65E700;
    padding: 7px 16px;
    color: #ffff;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-section {
    width: 80%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 192px;
    margin-bottom: 28px;
    padding-bottom: 42px;

}

.section-left{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(public/assets/bg/bg-header.png);
}

.header_texts {
    width: 554px;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 21px;
}

.text {
    color: #202020;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    max-width: 500px;
    margin-bottom: 79px;
}

.header_texts>.postext {
    background-color: #00cbff;
    border-radius: 30px;
    color: #fff !important;
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 15px;
    text-decoration: none;
}